PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=vV4j_jrFNbW8VMdxCnHDKdh2Z20kwJt-

DRIVE_DISK=local
S3_KEY=dummyKey
S3_SECRET=dummySecret
S3_BUCKET=dummyBucket
S3_REGION=dummyRegion
S3_ENDPOINT=dummyEndpoint
